<div class="chat_header">

  <div class="left_header">
    <div class="room_name"><%= @room.name %></div>
  </div>

  <div class="right_header">
    <div class="chat_end">
      <a href="#">チャットを終了する</a>
    </div>
  </div>

</div>


<div class="messages">
  <%= render partial: "message", collection: @messages %>
</div>


<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="form_input">
    <%= f.text_field :content, class: 'form_message', placeholder: 'type a message' %>
    <label class="form_image">
      <span>画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'send' %>
<% end %>